{% for post in site.posts %}
<div class="card">
    <div class="card-image">
        <img src="/legacy-site/img/sparkle.svg">
    </div>
    <div class="card-content">
        <h2 style="margin-bottom: 0;">{{ post.title }}</h2>
        <span>{{ post.date | date_to_string }} - <i class="fas fa-clock"></i>&nbsp;{{ post.content | number_of_words | divided_by: 180 }} minute read</span>
        <p>{{ post.desc }}</p>
        <a class="button" href="/legacy-site/{{ post.url }}">Read</a>
    </div>
</div>
<br>
  {% endfor %}
  <div style="text-align: center;">
    <a class="button" href="https://clyron.is-a.dev/lynxblog">View older blog posts</a>
    </div>
