<html>
    <head>
        <title>{{ page.title }} ~ {{ site.title }}</title>
        <link rel="icon" type="image/png" href="../img/sparkle.svg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:image" content="../img/sparkle.svg">
        <meta property="og:description" content="{{ site.desc }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>
    <body>
        <div class="window">
            <div class="title" style="position: absolute">
                Clyron
            </div>
            <div class="content">
                {{ content }}
                <div class="footer">
                    <div>
                    <img src="../img/8831/valid-any.gif">
                    </div>
                    </div>
            </div>
        </div>
    </body>
</html>