<html>
    <head>
        <title>{{ page.title }} ~ {{ site.title }}</title>
        <link rel="icon" type="image/png" href="/legacy-site/img/sparkle.svg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url }}">
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:image" content="/legacy-site/img/sparkle.svg">
        <meta property="og:description" content="{{ site.desc }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
        <link rel="stylesheet" href="/legacy-site/css/style.css" type="text/css">
    </head>
    <body>
        <div class="window">
            <div class="title" style="position: absolute">
                Clyron
            </div>
            <div class="content">
                {{ content }}
                <div class="footer">
                    <div>
                    <img src="/legacy-site/img/8831/valid-any.gif">
                    </div>
                    </div>
            </div>
        </div>
        <div id="snowflakes-container">
            <div class="snowflakes" id="snowflakes" aria-hidden="true">
              <div class="snowflake"></div>
              <div class="snowflake"></div>
              <div class="snowflake"></div>
              <div class="snowflake"></div>
              <div class="snowflake"></div>
            </div>
          </div>
        <script type="text/javascript" src="/legacy-site/js/holiday.js"></script>
    </body>
</html>
